{% extends "base.html" %}
{% load static %}

{% block body%}
<div class="row">
    
    <div class="col-md-6 mx-auto">
        <h1 class="text-center">Breast Cancer</h1>
        <h2>Symptoms in women</h2>
        <ul>
            <li>New lump in the breast or underarm (armpit).</li>
            <li>New lump in the breast or underarm (armpit).</li>
            <li>Irritation or dimpling of breast skin.  </li>
            <li>Redness or flaky skin in the nipple area or the breast.</li>
            <li>Pulling in of the nipple or pain in the nipple area.</li>
            <li>Nipple discharge other than breast milk, including blood.</li>
            <li>Any change in the size or the shape of the breast.</li>
            <li>Pain in any area of the breast.</li>
        </ul>
        <h2>Symptoms in men</h2>
        <ul>
            <li>A lump or swelling in the breast.</li>
            <li>Redness or flaky skin in the breast.</li>
            <li>Irritation or dimpling of breast skin.</li>
            <li>Nipple discharge.</li>
            <li>Pulling in of the nipple or pain in the nipple area.</li>

        </ul>
        <h1 class="text-center">Diabeates</h1>
        <h2>Symptoms of Diabeates</h2>
        <ul>
            <li>Urinate (pee) a lot, often at night
            </li>
            <li>Are very thirsty</li>
            <li>Lose weight without trying</li>
            <li>Are very hungry</li>
            <li>Have blurry vision</li>
            <li>Have numb or tingling hands or feet</li>
            <li>Feel very tired</li>
            <li>Have very dry skin</li>
            <li>Have sores that heal slowly</li>
            <li>Have more infections than usual</li>
        </ul>
        <h2>Symptoms of Type 1 Diabetes</h2>
        <p>People who have type 1 diabetes may also have nausea, vomiting, or stomach pains. Type 1 diabetes symptoms can develop in just a few weeks or months and can be severe. Type 1 diabetes usually starts when you’re a child, teen, or young adult but can happen at any age.</p>
        <h2>Symptoms of Type 2 Diabetes</h2>
        <p>Type 2 diabetes symptoms often take several years to develop. Some people don’t notice any symptoms at all. Type 2 diabetes usually starts when you’re an adult, though more and more children and teens are developing it. Because symptoms are hard to spot, it’s important to know the risk factors for type 2 diabetes. Make sure to visit your doctor if you have any of them.</p>
        <h2>Symptoms of Gestational Diabetes</h2>
        <p>Gestational diabetes (diabetes during pregnancy) usually doesn’t have any symptoms. If you’re pregnant, your doctor should test you for gestational diabetes between 24 and 28 weeks of pregnancy. If needed, you can make changes to protect your health and your baby’s health.</p>
        <h1 class="text-center">Kidney</h1>
        <h2>Symptoms of Kidney failure</h2>
        <ul>
            <li>Decreased urine output, although occasionally urine output remains normal</li>
            <li>Fluid retention, causing swelling in your legs, ankles or feet</li>
            <li>Shortness of breath</li>
            <li>Fatigue</li>
            <li>Confusion</li>
            <li>Weakness</li>
            <li>Irregular heartbeat</li>
            <li>Chest pain or pressure</li>
            <li>Seizures or coma in severe cases</li>
        </ul>

    </div>

</div>
{%endblock%}